/* FUENTES */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* GENERALES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 16px;
  background-color: #f3f5fc;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(rgba(8, 8, 8, 0.842), rgb(8, 8, 8)),
    url(../assets/img/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-input-placeholder {
  color: #ffffff5e;
}

.logo_alura {
  animation: rotacion 5s linear infinite;
  transform-style: preserve-3d;
}

.wraper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER */

.header {
  height: 10%;
}
.encriptar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.encriptar #limpiarTexto {
  position: absolute;
  display: none;
  padding: 0.1rem 0.35rem;
  align-self: flex-end;
  cursor: pointer;
  color: #ffffffc0;
}
.encriptar #limpiarTexto:hover small {
  display: block;
}
.encriptar #limpiarTexto:hover :last-child {
  color: rgb(153, 12, 12);
}
.encriptar #limpiarTexto small {
  text-wrap: nowrap;
  font-size: 0.7rem;
  position: absolute;
  top: -1.3rem;
  left: -2rem;
  display: none;
  font-weight: 400;
}
.encriptar__textarea {
  font-size: 1.5rem;
  border: none;
  font-weight: 400;
  color: #ffffffc0;
  outline: none;
  background-color: transparent;
  padding-top: 3rem;
  height: 70%;
  resize: none;
}

.animacion__escritura {
  transition: 0.8s;
  background-image: url(../assets/img/ojo.gif);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right 45px;
}

.encriptar__small {
  font-size: 12px;
  line-height: 18px;
  color: #495057;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.acciones {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.acciones_button,
#copiarTexto {
  width: 100%;
  border-radius: 24px;
  padding: 24px;
  color: #495057;
  background-color: transparent;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #ffffff3b;
}

#copiarTexto {
  border: 1px solid #343a40;
}

.acciones_button:hover,
#copiarTexto:hover {
  background-color: #0a387167;
  color: #fff;
  transition: 0.5s;
  letter-spacing: 0.8px;
}

#copiarTexto:hover {
  background-color: #343a40;
  color: #fff;
}

#copiarTexto {
  margin-top: 1rem;
}
.mensaje {
  background-color: #ffffffec;
  border-radius: 32px;
  text-align: center;
  padding: 30px;
  width: 95%;
  align-self: center;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mensaje .d-none {
  display: none;
}
.mensaje h3 {
  font-size: 1.5rem;
  line-height: 28.8px;
  color: #343a40;
}
.mensaje p {
  font-size: 0.8rem;
  line-height: 24px;
  color: #000;
}

.footer {
  text-align: center;
  margin-top: 24px;
}
.footer small span {
  color: #ffffff5e;
  font-weight: 500;
}
#nombre {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 2px solid black;
  animation: typing 6s steps(30, end) infinite,
    blink-caret 0.85s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16rem;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translate(-50%, -130%) scale(0.5);
  }
  to {
    opacity: 0.9;
    transform: translate(-50%, -130%) scale(1);
  }
}

@keyframes rotacion {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.alerta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffffec;
  color: #000;
  display: none;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  border-radius: 50%;
  text-align: center;
  opacity: 0;
}

.alerta.visible {
  display: block;
  animation: slideInFromTop 1s forwards;
}

/* MEDIAQUERIES */

/* Tabletas */
@media only screen and (min-width: 768px) {
  .acciones {
    flex-direction: row;
  }
  #copiarTexto {
    width: 50%;
  }
  #limpiarTexto {
    font-size: 1.5rem;
  }
  .animacion__escritura {
    background-size: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* .acciones{
    justify-content: center;
  }
 .acciones_button{
  max-width: 35%;
 } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  body {
    align-items: center;
  }
  .wraper {
    flex-direction: row;
    justify-content: center;
    width: 1400px;
    gap: 4rem;
  }
  .section1 {
    width: 50%;
    height: 100%;
  }
  .section2 {
    width: 30%;
  }
  .mensaje {
    height: 100%;
  }

  .mensaje .d-none {
    display: block;
  }
  .acciones_button {
    max-width: 400px;
  }
  #copiarTexto {
    width: 100%;
  }
}
